.gradle/
build/

**/local.properties
**/gradle.properties
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

.idea/
*.iws
*.iml
*.ipr

.idea/runConfigurations/
out/

.DS_Store
*.class

*.log
*.tmp
*.swp

*.DS_Store
Thumbs.db

target/º
